.announcement-section {
    min-width: 40%;
    max-width: 80%;
    border: 1px solid #eee;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    margin: 2rem 2rem 2rem;
    padding: 1rem 2rem 1rem 2rem;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/*.button-show-post{
    text-align: right;
}*/
.announcement-title, .about-title {
    font-weight: bold;
    margin: 0;
    padding: 0.5rem;
    background: #eee;
}
.announcement-link {
    font-weight: bold;
}
.announcement-time, .announcement-author, .announcement-deadline {
    font-size: 0.75rem;
    font-style: italic;
}
.announcement-deadline {
    padding: 0 0 0 5rem;
}
.announcement-text {
    margin: 0;
    font-size: 0.8rem;
    padding: 1rem 0 0 2rem;
}
.block-navigation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 3rem;
    text-align: center;
    padding: .5rem 0 .5rem 0;
    border-top: 2px outset #EEEEEF;
    background-color: #FDFDFF;
    border-bottom: 2px inset #EEEEEF;
    margin: .5rem;
}
.block-filter{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
    text-align: center;
    border-top: 1px outset #EEEEEF;
    font-size: 1rem;
    background-color: #FDFDFF;
    padding: .5rem 0 .5rem 0;
    border-bottom: 1px inset #EEEEEF;
}
.block-welocome{
    font-size: .75rem;
    text-align: justify;
    border-top: 2px outset #EEEEEF;
    background-color: #FDFDFF;
    border-bottom: 2px inset #EEEEEF;
}