{% extends 'base.html' %}
{% block style %}
{% endblock %}
{% block content %}
{{ super() }}
<div class="title-bar">
	<div class="title-text">
		<p>{{ title }}</p>
	</div>
</div>
<div class="text">
    <p>
    	КАРЗ современное предприятие, основной специализацией которого является: ремонт авиационных двигателей, производство отечественных комплектующих для ремонта технически-сложных изделий, изготовление и реализация газовых горелок или факелов для сжигания газа, изготовление центраторов звеньев, редукторов.
    </p>
    <p>
    	Мы располагаем необходимой инфраструктурой, высококвалифицированным персоналом, материальными, финансовыми и информационными ресурсами для осуществления деятельности в обозначенных областях.
    </p>
    <p>
    	Ресурсы предприятия позволяют охватить цикл от создания проекта до выпуска готовой продукции. Наши инженеры имеют современные средства автоматизированного проектирования и технологической подготовки производства. Станочный парк предприятия позволяет изготовить детали различного типоразмера по Вашим требованиям в максимально короткие сроки.
    </p>
    <p>
    	Грамотный подход к закупке комплектующих, а также наличие собственных производственных мощностей позволяет нашему предприятию предлагать заказчикам конкурентоспособные цены на продукцию и услуги.
    </p>
    <p>
    	КАРЗ выполняет полный цикл производства – от разработки проекта до ввода продукции в эксплуатацию, что позволяет обеспечивать своих заказчиков оборудованием, отвечающим всем заявленным техническим характеристикам и гарантировать его высокое качество! Мы изготавливаем изделия по чертежам заказчика с использованием механической обработки, сварки, термообработки и гальваники. Оборудование, произведенное нашим предприятием, готово к эксплуатации, как на воде, на суше, так и под землей.
    </p>
    <p>
    	Компания регулярно проводит оптимизацию организационной структуры, расширяет и обновляет производственные мощности, разрабатывает новые продукты, инновационные технологические процессы, что в свою очередь позволяет непрерывно расширять перечень производимой продукции и предлагаемых услуг.
    </p>
</div>
{% endblock %}