{% extends 'catalog.html' %}
{% block style %}
{{ super() }}
{% endblock %}
{% block catalog_content %}
{{ super() }}
<div class="text">
    <p>
        Двигатели семейства Arriel 2B от компании Turbomeca – одни из самых распространенных в малой гражданской
        авиации. Каждый день они доказывают свою надежность на сотнях воздушных судов по всему миру. Двигатель – это
        настоящее сердце летной техники, которое требует регулярного квалифицированного обслуживания
    </p>
    <img src="{{ url_for('static', filename='images/arriel_2b.jpg') }}" alt="arriel_2b.jpg">
    <p>
        АО «КАРЗ» предлагает ремонт, техническое обслуживание и инспекцию двигателей типа Arriel 2B1. Данные работы
        выполняются как на крыле, так и на снятом компоненте. В ходе работы проверяются ключевые узлы силовых установок,
        заменяются компоненты, продлевая период эффективной эксплуатации двигателей.
    </p>
    <p>
        Внедренная система менеджмента качества ISO 9001-2015 позволяет специалистам компании АО «КАРЗ» постоянно
        улучшать и оптимизировать свою работу, повышая качество выполняемых работ с одновременным сокращением времени
        выполнения ремонта двигателя.
    </p>
    <p>
        Турбовальный двигатель Arriel 2B разработан французской фирмой Turbomeca. Эта версия двигателя предназначена для
        вертолетов Eurocopter AS 350B3 Ecureuil. Главной отличием этой модификации двигателя от Arriel 1 является
        наличие одноступенчатой компрессорной турбины с монокристаллическими лопастями. На двигателе установлена
        электронная система управления - на Arriel 2B одноканальная EECU (Engine Electronic Control Unit), на Arriel 2B1
        - двухканальная EECU. Межремонтный ресурс двигателя составляет 3000 часов.
    </p>
    <p>
        Турбовальные двигатели Arriel 2B1 предназначены для одно- и двухмоторных вертолетов и имеют диапазон мощности от
        590 до 1000 л.с. Двигатели Arriel являются самыми продаваемыми двигателями фирмы Turbomeca (Safran Helicopter
        Engines). С тех пор, как первые две модели были сертифицированы в 1977 году, было разработано и сертифицировано
        более тридцати вариантов, которые в настоящее время установлены на более чем 40 различных типах вертолетов. На
        сегодняшний день Safran Helicopter Engines выпущено более 12 000 двигателей Arriel, и насчитывает более 46
        миллионов летных часов. Двигатели Arriel соответствуют самым высоким стандартам надежности, таким как двигатель
        CFM56 в своей категории.
    </p>
    <p>
        Семейство двигателей Arriel разделено на две продуктовые линейки: двигатели Arriel 1 и двигатели Arriel 2.
        Диапазон их мощностей составляет, соответственно, от 590 до 750 л.с. и от 830 до 990 л.с.
    </p>
    <p>
        Двигатель Arriel 1 отличается простой конструкцией, сосредоточенной вокруг пяти модулей, что упрощает
        техническое обслуживание. Он состоит из одноступенчатого осевого компрессора, одноступенчатого центробежного
        компрессора, двухступенчатой ​​газогенераторной турбины и одноступенчатой ​​силовой турбины.
    </p>
    <p>
        Двигатель Arriel 2 - это усовершенствованный вариант двигателя Arriel 1, предлагающий большую мощность и более
        простую одноступенчатую турбинную архитектуру.
    </p>
    <p>
        В 2011 году было представлено обновление по двигателю Arriel 2 двигатель Arriel 2+, предназначенный для самых
        современных одно- и двухмоторных вертолетов. Двигатель Arriel 2+ включает в себя новые технологии, в частности,
        новый осевой компрессор и новые материалы для изготовления лопаток турбин.
    </p>
    <p>
        Двигатель Arriel 2+ характеризуется повышенной производительностью и снижением удельного расхода топлива, что
        приводит к снижению эксплуатационных расходов. Arriel 2+ включает в себя систему регистрации данных двигателя
        для контроля горячих секций турбины.
    </p>
    <p>
        Двигатель Arriel 2B1 применяется на следующих воздушных судах:
    </p>
    <ul class="list-licoming">
        <li>Agusta A109</li>
        <li>Eurocopter Dauphin</li>
        <li>Eurocopter EC145</li>
        <li>Eurocopter EC155</li>
        <li>Eurocopter Ecureuil</li>
        <li>Harbin Z-9</li>
        <li>Harbin Z-19</li>
        <li>MBB/Kawasaki BK 117</li>
        <li>Sikorsky S-76</li>
    </ul>
    <table border="1" cellspacing="0" style="width: 100%">
        <tbody>
        <tr>
            <td>
                <p align="justify">
                    Условное обозначение двигателя
                </p>
            </td>
            <td>
                <p align="justify">
                    Arriel 2B
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="justify">
                    Мощность, кВт (л.с.)
                </p>
            </td>
            <td>
                <p align="justify">
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="justify">
                    Максимальная кратковременная (2.5 мин)
                </p>
            </td>
            <td>
                <p align="justify">
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="justify">
                    Максимальная продолжительная (30 мин)
                </p>
            </td>
            <td>
                <p align="justify">
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="justify">
                    На взлетном режиме
                </p>
            </td>
            <td>
                <p align="justify">
                    632 (848)
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="justify">
                    Максимальная крейсерская
                </p>
            </td>
            <td>
                <p align="justify">
                    544 (730)
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="justify">
                    Удельный расход топлива при мощности 351 кВт (470 л.с.)
                </p>
            </td>
            <td>
                <p align="justify">
                    0.618
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="justify">
                    Габаритные размеры, мм&nbsp;
                </p>
            </td>
            <td>
                <p align="justify">
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="justify">
                    Длина
                </p>
            </td>
            <td>
                <p align="justify">
                    1080
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="justify">
                    Высота
                </p>
            </td>
            <td>
                <p align="justify">
                    580
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="justify">
                    Ширина
                </p>
            </td>
            <td>
                <p align="justify">
                    500
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="justify">
                    Сухая масса, кг
                </p>
            </td>
            <td>
                <p align="justify">
                    130
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
</div>
{% endblock %}