{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_catalog.css') }}" type="text/css">
{% endblock %}
{% block content %}
{{ super() }}
<div class="title-bar">
    <div class="title-text">
        <p>{{ title }}</p>
    </div>
</div>
<div class="grid-catalog">
    <div class="catalog">
        <ul class="list-catalog">
            <li class="{% if url_cat == 'repair' %}selected-catalog{% else %}no-background{% endif %}">
                <a href="{{ url_for('catalog', url_cat='repair') }}">Ремонт и обслуживание авиационных двигателей</a>
            </li>
            <li class="{% if url_cat == 'lycoming' %}selected-catalog{% else %}no-background{% endif %}">
                <a href="{{ url_for('catalog', url_cat='lycoming') }}">Двигатель Lycoming IO-540</a>
            </li>
            <li class="{% if url_cat == 'arriel' %}selected-catalog{% else %}no-background{% endif %}">
                <a href="{{ url_for('catalog', url_cat='arriel') }}">Двигатель Arriel 2B1</a>
            </li>
            <li class="{% if url_cat == 'fire' %}selected-catalog{% else %}no-background{% endif %}">
                <a href="{{ url_for('catalog', url_cat='fire') }}">Факельные установки</a>
            </li>
            <li class="{% if url_cat == 'reducers' %}selected-catalog{% else %}no-background{% endif %}">
                <a href="{{ url_for('catalog', url_cat='reducers') }}">Редукторы</a>
            </li>
            <li class="{% if url_cat == 'centralizers' %}selected-catalog{% else %}no-background{% endif %}">
                <a href="{{ url_for('catalog', url_cat='centralizers') }}">Центраторы звеньев</a>
            </li>
            <li class="{% if url_cat == 'wrenches' %}selected-catalog{% else %}no-background{% endif %}">
                <a href="{{ url_for('catalog', url_cat='wrenches') }}">Ключи ударные накидные</a>
            </li>
        </ul>
    </div>
    <div class="catalog-content">
        {% block catalog_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}