{% extends 'catalog.html' %}
{% block style %}
{{ super() }}
{% endblock %}
{% block catalog_content %}
{{ super() }}
<div class="text">
    <p>
        Газовый факел — управляемое или аварийное сжигание сопутствующего газа при добыче или переработке нефти на
        нефтеперерабатывающих и химических заводах. Управляемое сжигание газа позволяет повысить безопасность
        нефтехранилищ и трубопроводов в случае незапланированного скачка давления.
    </p>
    <img src="{{ url_for('static', filename='images/fire1.jpg') }}" alt="fire1.jpg">
    <p>
        Факельные установки состоят из факельного ствола, оголовка, автоматизированной системы розжига, лестницы,
        рабочих площадок для обслуживания установки, газового увеличителя, насосной установки.
    </p>
    <p>
        Факельные системы и установки, предлагаемые АО «КАРЗ» разработаны и изготавливаются в соответствии с
        современными требованиями безопасности и учитывают в своей конструкции все основные принципы энергосбережения,
        которые обладают всеми необходимыми сертификатами.
    </p>
    <img src="{{ url_for('static', filename='images/fire2.jpg') }}" alt="fire2.jpg">
    <p>
        Применяются на объектах сбора и подготовки продукции скважин нефтяных и газовых месторождений, объектах
        нефтехимической, нефтеперерабатывающей, химической и других отраслей промышленности, позволяют избежать
        применения морально и технически устаревших, металлоемких, дорогостоящих и зачастую небезопасных факельных
        систем;
    </p>
    <p>
        Используются при аварийных, постоянных и периодических сбросах, выходе оборудования из строя, отключении
        электроэнергии, плановом ремонте, а также для сжигания паров и органических веществ;
    </p>
    <p>
        Позволяют осуществлять высокоэффективное сжигание любых соотношений углеводородов, кислых и инертных газов за
        счет соответствующей модификации факельного оголовка; Выпускаются открытого, закрытого и мобильного типа.
    </p>
    <img src="{{ url_for('static', filename='images/fire3.jpg') }}" alt="fire3.jpg">
    <p>
        Сертификация и соответствие
    </p>
    <p>
        Компания обеспечивает полное соответствие требованиям и нормативам в производстве факельных установок для
        объектов нефтегазовой отрасли:
    </p>
    <p>
        · ГОСТ 12.1.007-76 «ССБТ. Вредные вещества. Классификация и общие требования безопасности».
    </p>
    <p>
        · ВНТП 3-85 «Нормы Технологического проектирования объектов сбора, транспорта, подготовки нефти, газа и воды
        нефтяных месторождений».
    </p>
    <p>
        · «Правила безопасности в нефтяной и газовой промышленности». Приказ Федеральной службы по экологическому,
        технологическому и атомному надзору №101 от 12 марта 2013г.
    </p>
    <p>
        · ГОСТ Р 53681-2009, п.10.1., п.4.4.3.
    </p>
    <p>
        Преимущества факельных систем, выпускаемых АО «КАРЗ»:
    </p>
    <p>
        Полная автоматизация процессов запуска и работы факельной установки без вмешательства оператора.
        Гарантированность розжига и контроля пламени. Простота в обслуживании.
    </p>
    <p>
        Использование современных технологий и передовых разработок для обеспечения надежности и увеличения срока службы
        факельной установки.
    </p>
    <p>
        Индивидуальные технические решения при изготовлении факельной установки, применимые к параметрам и условиям для
        каждого объекта Заказчика.
    </p>
</div>
{% endblock %}