{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_announcement.css') }}" type="text/css">
{% endblock %}

{% block content %}
{{ super() }}
<div class="title-bar">
    <div class="title-text">
        <p>{{ title }}</p>
    </div>
</div>
<div class="announcement-page">
    <noscript class="warning-noscript">
        Ваш браузер не поддерживает JavaScript или поддержка отключена в настройках.
    </noscript>
    {% for announcement in announcements %}
    <div class="announcement-section">
        <p class="announcement-title">
            <a class="lannouncement-link" href="{{ url_for('show_post', url_post=announcement['url_post']) }}">{{
                announcement['title'] }}</a>
            <span class="announcement-author">автор: {{ announcement['author'].username }}</span>
            {% if current_user['access'] %}
            <span class="announcement-time">от <span class="iso-data">{{ announcement['time_post'].strftime('%Y-%m-%dT%H:%M:%SZ') }}</span></span>
            {% else %}
            <span class="announcement-time">от <span class="iso-data">{{ announcement['time_start'].strftime('%Y-%m-%dT%H:%M:%SZ') }}</span></span>
            {% endif %}
        </p>
        <p class="announcement-text">{{ announcement['post'][:300] }}...</p>
        <p class="announcement-deadline">Срок исполнения контракта: <span class="iso-data">{{
            announcement['contract_deadline'] }}</span></p>
        <div class="button-show-post">
            <button class="pure-button"
                    onclick="window.location.href = '{{ url_for('show_post', url_post=announcement['url_post']) }}';">
                Перейти к процедуре
            </button>
        </div>
    </div>
    {% endfor %}
    <div class="block-navigation">
        {% if prev_url %}
        <a href="{{ prev_url }}">&#10094; Предыдущие записи</a>
        {% endif %}
        {% if prev_url and next_url %}
        <span> . . . . . . . . . . . . </span>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}">Следующие записи &#10095;</a>
        {% endif %}
    </div>
</div>
<script src="{{ url_for('static', filename='js/format_data_on_page.js') }}"></script>
{% endblock %}