{% extends 'catalog.html' %}
{% block style %}
{{ super() }}
{% endblock %}
{% block catalog_content %}
{{ super() }}
<div class="text">
    <p>
        Двигатели семейства Lycoming – одни из самых распространенных в малой гражданской авиации. Каждый день они
        доказывают свою надежность на сотнях воздушных судов по всему миру. Двигатель – это настоящее сердце летной
        техники, которое требует регулярного квалифицированного обслуживания.
    </p>
    <img src="{{ url_for('static', filename='images/karusel4.jpg') }}" alt="karusel4.jpg">
    <p>
        АО «КАРЗ» предлагает ремонт, техническое обслуживание и инспекцию двигателей типа Lycoming IO-540. Данные работы
        выполняются как на крыле, так и на снятом компоненте. В ходе работы проверяются ключевые узлы силовых установок,
        заменяются компоненты, продлевая период эффективной эксплуатации двигателей.
    </p>
    <p>
        Внедренная система менеджмента качества ISO 9001-2015 позволяет специалистам компании АО «КАРЗ» постоянно
        улучшать и оптимизировать свою работу, повышая качество выполняемых работ с одновременным сокращением времени
        выполнения ремонта двигателя.
    </p>
    <p>
        Двигатели серии O-540 и IO-540 представляют собой шестицилиндровые двигатели расположенными горизонтально с
        прямым приводом и с системой охлаждения воздуха. Далее представлено описание его компонентов в соответствии с
        расположением по отношению к двигателю, установленному на планере.
    </p>
    <p>
        <strong>Цилиндры</strong> - имеют стандартную конструкцию охлаждения воздуха, состоящую из двух основных частей:
        головки и цилиндра, которые скручены вместе. Головки изготовлены из алюминиевого сплава с полностью обработанной
        камерой сгорания. Опоры валов, литые с головкой, образуя единую кулису для обоих клапанных кулис. Сам цилиндр
        изготавливается из поковок хромоникелевого молибдена, и имеет глубокие ребра охлаждения, внутренняя же часть
        цилиндров отшлифована до определенной степени.
    </p>
    <p>
        <strong>Механизм привода клапана</strong> - распределительный вал обычного типа расположен над коленчатым валом
        и параллельно ему. Распределительный вал приводит в действие гидравлические кулачки, которые управляют
        клапанами. Клапаны опираются на стальные валы. Пружины клапана опираются на седла из закаленной стали и
        удерживаются на стержнях клапанов с помощью разделительных шпонок.
    </p>
    <p>
        <strong>Картер двигателя</strong> - Блок картера состоит из двух литых деталей из алюминиевого сплава,
        скрепленных между собой шпильками, болтами и гайками. Сопрягаемые поверхности двух отливок соединяются без
        использования прокладок, а отверстия используются для вкладышей коренных подшипников прецизионного типа.
    </p>
    <p>
        <strong>Коленчатый вал</strong> - коленчатый вал изготовлен из ковки из хромоникелевой молибденовой стали.
        Поверхности швов подшипников азотированы. Свобода вибрации обеспечивается системой динамических противовесов
        маятникового типа.
    </p>
    <p>
        <strong>Шатуны</strong> - Шатуны представляют с собой «Н» вида секции, выполненные из поковок легированной
        стали. На концах коленчатого вала имеются сменные вкладыши подшипников и бронзовые втулки на концах поршня.
    </p>
    <p>
        <strong>Поршни</strong> - поршни изготовлены из ковки алюминиевого сплава. Поршневой палец представляет собой
        полностью подвижную деталь с заглушкой, расположенную на каждом конце пальца. В зависимости от сборки цилиндра
        поршни могут состоять из трех или четырех колец, как полуклиновых, так и поликлиновых.
    </p>
    <p>
        <strong>Придаточный кожух (корпус для аксессуаров)</strong> - изготовлен из алюминия и крепится к задней части
        картера и поддона. Используется как корпус для масляного насоса и различных дополнительных приводов.
    </p>
    <p>
        <strong>Масляный поддон</strong> (O-540, IO-540-C, -D, -J, -N, -R) - включает в себя затвор для слива масла,
        сито (экран) для всасывания масла, топливные форсунки, впускной выпор и соединительные трубы.
    </p>
    <p>
        <strong>Масляный поддон и индукционный механизм</strong> (за исключением O-540, IO-540-C, -D, -J, -N, -R) - этот
        механизм состоит из маслосборника, прикрепленного болтами к сопряженной крышке, содержащий удлинители впускной
        трубы для индукционной системы, образуя втулку для воздухозаборника. В крышке предусмотрены пробки для слива
        топлива, а в поддоне находятся затворы для слива масла и маслосборник.
    </p>
    <p>
        <strong>Система охлаждения</strong> - Эти двигатели направлены на охлаждение давлением воздуха, которое зависит
        от скорости движения воздушного судна. Перегородки в цилиндре создают давление и способствуют продвижению
        воздуха через ребра. Затем воздух выпускается в окружающую среду.
    </p>
    <p>
        <strong>Индукционная система</strong> – двигатели серии Lycoming O-540 оснащены карбюратором Marvel-Schebler
        MA-4-5. Распределение топливовоздушной смеси в каждом цилиндре достигается благодаря системе впуска в
        центральной зоне, которая встроена в масляный картер и погружена в масло, обеспечивая более равномерное
        испарение топлива и способствуя охлаждению масла в поддоне. Из стояка топливно-воздушная смесь распределяется в
        каждый цилиндр отдельными впускными трубами.
    </p>
    <p>
        Двигатели серии Lycoming IO-540 оснащены топливным инжектором типа Bendix RS или RSA. Система впрыска топлива
        планирует расход топлива пропорционально расходу воздуха, а испарение топлива происходит на впускных отверстиях.
    </p>
    <p>
        Двигатель Lycoming IO-540 применяется на следующих воздушных судах:
    </p>
    <ul class="list-licoming">
        <li>AAC Angel</li>
        <li>Aero Commander 500 series</li>
        <li>Cerva CE.43 Guépard</li>
        <li>Cessna 182</li>
        <li>Cessna 206</li>
        <li>Raven 2XS</li>
        <li>Ravin 500</li>
        <li>Robinson R44</li>
        <li>Socata TB-20</li>
        <li>Socata TB-30 Epsilon</li>
        <li>Starfire Firebolt</li>
        <li>Velocity XL</li>
        <li>А так же многих многих других</li>
    </ul>
</div>
{% endblock %}