{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}" type="text/css">
{% endblock %}

{% block content %}
{{ super() }}
<div class="title-bar">
    <div class="title-text">
        <p>{{ title }}</p>
    </div>
</div>
<section class="container">
    <div class="password-change-page">
        <div class="flash">
            {% for category, msg in get_flashed_messages(True) %}
            <p class="flash-msg flash-{{ category }}">{{ msg }}</p>
            {% endfor %}
        </div>
        <form class="password-change-form pure-form" action="{{ url_for('password_change') }}" method="post" novalidate>
            {{ form.hidden_tag() }}
            {% if form.old_psw.errors -%}
            <span class="invalid-feedback-text">
                    {% for error in form.old_psw.errors -%}
                    {{ error }}
                    {% endfor -%}
            </span>
            <p>{{ form.old_psw(size=32, placeholder='Текущий пароль', class='invalid-feedback-field') }}</p>
            {% else -%}
            <p>{{ form.old_psw(size=32, placeholder='Текущий пароль') }}</p>
            {% endif -%}
            {% if form.new_psw.errors -%}
            <span class="invalid-feedback-text">
                    {% for error in form.new_psw.errors -%}
                    {{ error }}
                    {% endfor -%}
            </span>
            <p>{{ form.new_psw(size=32, placeholder='Новый пароль', class='invalid-feedback-field') }}</p>
            {% else -%}
            <p>{{ form.new_psw(size=32, placeholder='Новый пароль') }}</p>
            {% endif -%}
            {% if form.repeat_new_psw.errors -%}
            <span class="invalid-feedback-text">
                    {% for error in form.repeat_new_psw.errors -%}
                    {{ error }}
                    {% endfor -%}
            </span>
            <p>{{ form.repeat_new_psw(size=32, placeholder='Повторите новый пароль', class='invalid-feedback-field') }}</p>
            {% else -%}
            <p>{{ form.repeat_new_psw(size=32, placeholder='Повторите новый пароль') }}</p>
            {% endif -%}
            {{ form.recaptcha }}
            <p>{{ form.submit(class='button-login') }}</p>
        </form>
    </div>
</section>
{% endblock %}