{% extends 'catalog.html' %}
{% block style %}
{{ super() }}
{% endblock %}
{% block catalog_content %}
{{ super() }}
<div class="text">
    <p>
        Еще одним направлением деятельности АО «КАРЗ» является изготовление редукторов, служащих для изменения скорости
        вращения при передачи вращательного движения от одного вала к другому. Редукторы широко применяются в
        грузоподъемных, транспортных, обрабатывающих машинах, металлургическом и угледобывающем оборудовании,
        строительной индустрии и нефтегазовой промышленности.
    </p>
    <p>
        Виды редукторов ремонтируемых АО «КАРЗ» :
    </p>
    <p>
        1. Цилиндрические редуктора — данный вид редукторов отличается среди других видов надежностью и большим ресурсом
        работы. Используется цилиндрический вид редукторов в крупногабаритных узлах или машинах, где работа
        осуществляется на больших оборотах. Стоить отметить, что цилиндрические редуктора подразделяются на прямозубые,
        шевронные, косозубые. Наиболее частыми сферами использования является деревообрабатывающее производство,
        металлорежущее и многие другие промышленные направления деятельности.
    </p>
    <p>
        2. Червячные редуктора – используются в различных конвейерных линиях, подъемных узлах, насосов. Отличается
        большим передаточным отношением. Из минусов стоит отметить высокое тепловыделение и не такой большой коэффициент
        полезного действия.
    </p>
    <p>
        3. Конические редуктора – главным конструктивным отличием является пересекающиеся оси в конических механизмах
        редуктора, поэтому в данном виде редукторов есть возможность менять направление передач. В остальных видах
        редукторов эти оси расположены параллельно друг другу. Конические редуктора используют в лифтовой технике,
        различных конвейерах.
    </p>
    <p>
        4. Планетарные редукторы – способны выдерживать огромные нагрузки, несмотря на свой небольшой размер. Используют
        в основном в буровых машинах, лебедках, различных небольших мешалок и прочего.
    </p>
    <p>
        5. Редукторы специального типа – это многофункциональные узлы которые состоят из целого ряда передач. На данный
        момент наиболее частая сфера применения – строительство. Особенностью и плюсом данного вида редукторов является
        самоблокировка. Она позволяет обеспечить безопасную работу механизмов.
    </p>
    <p>
        Для подачи заявки на ремонт или восстановление редуктора просим Вас направить нам запрос на электронную почту,
        после этого наши менеджеры свяжутся с Вами для выставления счета и заключения договора.
    </p>
</div>
{% endblock %}