{% extends 'base.html' %}

{% block style %}
<meta http-equiv="Refresh" content="601">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_for_tender.css') }}" type="text/css">
{% endblock %}

{% block content %}
{{ super() }}
<div class="title-bar">
    <div class="title-text">
        <p>{{ title }}</p>
    </div>
</div>
<section class="container">
    <noscript class="warning-noscript">
        Ваш браузер не поддерживает JavaScript или поддержка отключена в настройках.
    </noscript>
    <div class="tender-section">
        {% if not current_user['confirmed'] %}
        <div>
            <p>Ваша учетная запись ещё не подтверждена. Дождитесь подтверждения или свяжитесь с администратором!</p>
            <button class="pure-button" onclick="window.location.href = '{{ url_for('list_tenders') }}';">Вернуться к
                списку
            </button>
        </div>
        {% elif post_info['today'] > post_info['time_start'] and post_info['today'] < post_info['time_close'] %}
        <div class="rules-tender">
            <p>Правила:</p>
            <p>- Можно снизить цену нажав на кнопку "Снизить цену" в интересующей Вас строке. Снижение идёт с
                определенным минимальным шагом для каждой позиции. Можно вручную снизить цену, если Вы хотите предложить
                цену намного ниже текущей;</p>
            <p>- Цена будет <strong>утверждена</strong> за Вами только <strong>после нажатия</strong> на кнопку
                "Утвердить изменения";</p>
            <p>- После <strong>утверждения</strong> в колонке "Владелец цены" Вы увидите свою учетную запись, при этом
                сама цена будет подсвечена <strong>зеленым</strong> цветом;</p>
            <p>- Автоматическое продление: 10 минут с момента подачи последнего предложения;</p>
        </div>
        <div class="text-post">
            {% for litera in post_info['post'] %}
            {%- if litera != '\n' -%}
            {{ litera }}
            {%- else %}
            <br>
            {% endif -%}
            {% endfor %}
        </div>
        <div class="flash">
            {% for category, msg in get_flashed_messages(True) %}
            <p class="flash-msg flash-{{ category }}">{{ msg }}</p>
            {% endfor %}
        </div>
        <div class="tender-goods">
            <p>Время начала торгов: <span
                    class="iso-data">{{ post_info['time_start'].strftime('%Y-%m-%dT%H:%M:%SZ') }}</span>, время закрытия
                торгов: <span class="iso-data">{{ post_info['time_close'].strftime('%Y-%m-%dT%H:%M:%SZ') }}</span></p>
            <p id="label_current_summ_tender">Общая сумма Вашего предложения:</p>
            <p id="label_server_summ_tender">Текущая сумма тендера:</p>
            <p id="label_time_close">Время закрытия торгов: {{ post_info['time_close'] }}</p>
            <form class="send-new-price" action="{{ url_for('show_tender', url_post=post_info['url_post']) }}"
                  method="post" novalidate>
                {{ form.hidden_tag() }}
                {% if form.tender_info_JSON.errors -%}
                <span class="invalid-feedback-text">
                    {% for error in form.tender_info_JSON.errors %}
                    {{ error }}
                    {% endfor %}
                </span>
                <p>{{ form.tender_info_JSON(type='hidden') }}</p>
                {% else -%}
                <p>{{ form.tender_info_JSON(type='hidden') }}</p>
                {% endif -%}
                <table id="table-goods" class="paleBlueRows countLines">
                    <caption>Товары для аукциона</caption>
                    <thead>
                    <tr>
                        <th>№</th>
                        {% if current_user['access'] %}
                        <th>Код</th>
                        {% else %}
                        <th class="hide-column">Код</th>
                        {% endif %}
                        <th>Наименование</th>
                        <th>Количество</th>
                        <th>Ед. изм.</th>
                        <th>Текущая цена</th>
                        <th>Текущая сумма</th>
                        <th class="hide-column">НДС,%</th>
                        <th>Владелец цены</th>
                        <th>Изменение цены</th>
                        <th>Шаг цены</th>
                        <th>Новая цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in post_info['tenders'] if row.id != 0 %}
                    <tr>
                        <td class="neitral-field"></td>
                        {% if current_user['access'] %}
                        <td class="string-field">{{ row.product_code }}</td>
                        {% else %}
                        <td class="string-field hide-column">{{ row.product_code }}</td>
                        {% endif %}
                        <td class="string-field">{{ row.product_name }}</td>
                        <td class="digit-field">{{ row.quantity }}</td>
                        <td class="neitral-field">{{ row.unit }}</td>
                        <td class="digit-field no-wrap">{{ row.price }}</td>
                        <td class="digit-field no-wrap"></td>
                        <td class="digit-field hide-column">{{ row.rate_vat }}</td>
                        <td class="string-field no-wrap"></td>
                        <td>
                            <button class="button-small pure-button button-decrement-price" name="decrement_price"
                                    onclick="decrementPrice(this);return false;">Снизить цену
                            </button>
                        </td>
                        <td class="digit-field no-wrap">{{ row.step_price }}</td>
                        <td class="digit-field">
                            <input name="input{{ row.id }}" oninput="inp_isum(this)" onchange="after_change_price()"
                                   required type="text" size=8>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>{{ form.submit(class='pure-button hidden') }}
                </p>
            </form>
            <div class="block-buttons">
                <div>
                    <button class="pure-button" onclick="window.location.href = '{{ url_for('list_tenders') }}';">
                        Вернуться к списку
                    </button>
                </div>
                <div class="side-right">
                    <button class="pure-button"
                            onclick="if (confirm('Утвердить новые цены?')) { document.getElementById('submit').click() } else { return False };">
                        Утвердить новые цены
                    </button>
                </div>
            </div>
        </div>
        {% elif post_info['today'] > post_info['time_close'] %}
        <div>
            <p>Аукцион закончился.</p>
            <button class="pure-button" onclick="window.location.href = '{{ url_for('list_tenders') }}';">Вернуться к
                списку
            </button>
        </div>
        {% else %}
        <div>
            <p>Аукцион еще не начался.</p>
            {% set difference_time = post_info['time_start'] - post_info['today'] %}
            {% set hours = (difference_time.seconds/60/60)|round(1)|int %}
            {% set minutes = (difference_time.seconds/60 - hours*60)|round(1)|int %}
            <p>До начала аукциона: {{ difference_time.days }}д {{ hours }}ч {{ minutes }}м</p>
        </div>
        {% endif %}
    </div>
</section>
<script src="{{ url_for('static', filename='js/format_data_on_page.js') }}"></script>
<script src="{{ url_for('static', filename='js/tender.js') }}"></script>
{% endblock %}