{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_profile.css') }}" type="text/css">
{% endblock %}

{% block content %}
{{ super() }}
<div class="title-bar">
    <div class="title-text">
        <p>{{ title }}</p>
    </div>
</div>
<section class="container">
    <div class="profile-page">
        <div class="profile-form">
            <div class="flash">
                {% for cat, msg in get_flashed_messages(True) %}
                <p class="flash-{{ cat }}">{{ msg }}</p>
                {% endfor %}
            </div>
            {% if form %}
            <div class="upload-info">
                <p>Для аккредитации трубуется перечень документов (формат pdf):</p>
                <ol>
                    <li>Карта партнера с реквизитами</li>
                    <li>Свидетельство о регистрации</li>
                    <li>Свидетельство о постановке на учёт в налоговом органе (ИНН)</li>
                    <li>Устав (первые 3 страницы)</li>
                    <li>Выписка из ЕГРЮЛ</li>
                </ol>
                <p class="small-text">Загружать файлы можно в любой последовательности. Размер каждого файла не должен
                    превышать <strong>{{ (config['MAX_CONTENT_LENGTH'] / 1024 / 1024) | round | int }} Мб</strong>.</p>
            </div>
            <div class="block-user-files">
                <table class="table-user-files">
                    <caption>Список файлов пользователя</caption>
                    <thead>
                    <tr>
                        <th>Наименование файла</th>
                        <th>Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key in files %}
                    <tr>
                        <td><a href="{{ url_for('download_files', username=current_user['username'], file_id=key) }}">{{
                            files[key] }}</a></td>
                        <td class="cell-button"><a class="button-small pure-button"
                                                   href="{{ url_for('delete_file', username=current_user['username'], file_id=key) }}">X</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <form class="pure-form upload-file-form" action="{{ url_for('upload_files') }}" method="post"
                  enctype="multipart/form-data" novalidate>
                {{ form.hidden_tag() }}
                <div>
                    {% if form.file.errors -%}
                    <span class="invalid-feedback-text">
                    {% for error in form.file.errors -%}
                    {{ error }}
                    {% endfor -%}
                    </span>
                    <br>
                    <span>{{ form.file(size=256, placeholder='File', class='invalid-feedback-field') }}</span>
                    {% else -%}
                    <span>{{ form.file(size=256, placeholder='File') }}</span>
                    {% endif -%}
                    <span>{{ form.submit(class='pure-button') }}</span>
                </div>
            </form>
            {% else %}
            <br>
            <p><a class="pure-button" href="{{ url_for('upload_files') }}">Попробовать еще раз</a></p>
            {% endif %}
            <br>
            <button class="pure-button" onclick="window.location.href = '{{ url_for('profile') }}';">Вернуться в
                профиль
            </button>
        </div>
    </div>
</section>
{% endblock %}