{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_profile.css') }}" type="text/css">
{% endblock %}
{% block content %}
{{ super() }}
<div class="title-bar">
    <div class="title-text">
        <p>{{ title }}</p>
    </div>
</div>
<section class="container">
    <div class="profile-page">
        <p style="font-size: .85rem">
            Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между АО КАРЗ (далее Тендерная
            площадка КАРЗ или Администрация) с одной стороны и пользователем сайта с другой.
            Сайт Тендерная площадка КАРЗ не является средством массовой информации.
        </p>
        <p style="font-size: .85rem">
            Используя сайт, Вы соглашаетесь с условиями данного соглашения.
            Если Вы не согласны с условиями данного соглашения, не используйте сайт Тендерная площадка КАРЗ!
        </p>
        <p>
            <strong>Права и обязанности сторон</strong>
        </p>
        <p>
            Пользователь имеет право:
        </p>
        <ul class="list-agreement">
            <li>осуществлять поиск информации на сайте</li>
            <li>получать информацию на сайте</li>
            <li>копировать информацию на другие сайты с указанием источника</li>
            <li>использовать информацию сайта в коммерческих целях без специального разрешения</li>
        </ul>
        <p>
            Администрация имеет право:
        </p>
        <ul class="list-agreement">
            <li>по своему усмотрению и необходимости создавать, изменять, отменять правила</li>
            <li>ограничивать доступ к любой информации на сайте</li>
            <li>создавать, изменять, удалять информацию</li>
            <li>удалять учетные записи</li>
            <li>отказывать в регистрации без объяснения причин</li>
        </ul>
        <p>
            Пользователь обязуется:
        </p>
        <ul class="list-agreement">
            <li>обновлять Персональные данные, предоставленные при регистрации, в случае их изменения</li>
            <li>не нарушать работоспособность сайта</li>
            <li>не создавать несколько учётных записей на Сайте, если фактически они принадлежат одному и тому же лицу
            </li>
            <li>не совершать действия, направленные на введение других Пользователей в заблуждение</li>
            <li>не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с
                Сайтом и его Сервисами
            </li>
        </ul>
        <p>
            Администрация обязуется:
        </p>
        <ul class="list-agreement">
            <li>поддерживать работоспособность сайта за исключением случаев, когда это невозможно по независящим от
                Администрации причинам.
            </li>
        </ul>
        <p>
            <strong>Ответственность сторон</strong>
        </p>
        <ul class="list-agreement">
            <li>пользователь лично несет полную ответственность за распространяемую им информацию</li>
            <li>администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами</li>
            <li>в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное
                бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а
                также бесперебойную работу информационного ресурса
            </li>
        </ul>
        <p><strong>Условия действия Соглашения</strong></p>
        <ul class="list-agreement">
            <li>Данное Соглашение вступает в силу при регистрации на сайте.</li>
            <li>Соглашение перестает действовать при появлении его новой версии.</li>
            <li>Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему
                усмотрению.
            </li>
            <li>Администрация не оповещает пользователей об изменении в Соглашении.</li>
        </ul>
    </div>
</section>
{% endblock %}